# Ignore file containing API keys
config.py

# Ignore caches
__pycache__
/hikingproject/hikingproject/spiders/__pycache_
/tripadvisor/tripadvisor/spiders/__pycache_

# Ignore workspace settings
.vscode

# Ignore Mac system files
.DS_store

# Ignore .class extension files in OSM_parser
/OSM_parser/*.class